body {
    font-family: Arial;
    background-image: url("https://www.wallpapertip.com/wmimgs/51-517054_whatsapp-background-images-hd.jpg");
    background-size: cover;
    color: black;
}
.up {
    width: 100%;
    height: 70px;
    background-color: white;
    border: 0px solid white;
    border-radius: 5px;
}
.avatar {
    padding: 10px;
    border-radius: 45px;
    width: 50px;
}
.abs {
    position: absolute;
    right: 1800px;
    top: 20px;
    font-weight: bold;
}
.abs_two {
    position: absolute;
    right: 1780px;
    top: 40px;
    color: aqua;
}
.block_one {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 5px;
}
.block_one>p {
    padding-left: 30px;
    font-weight: bold;
}
.block_two {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
}
.block_two>p {
    padding-left: 30px;
    font-weight: bold;
}
.block_three {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    position: absolute;
    top: 220px;
    left: 1810px;
}
.block_three>p {
    padding-left: 40px;
    font-weight: bold;
    /* text-align: center; */
}
.block_four {
    width: 130px;
    height: 135px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 5px;
    float: right;
    position: absolute;
    top: 300px;
    /* left: 1810px; */
}
.block_four>p {
    padding-left: 15px;
    font-weight: bold;
    /* text-align: center; */
}
.block_five {
    width: 100px;
    height: 70px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    position: absolute;
    top: 500px;
    left: 1810px;
}
.block_five>p {
    padding-left: 40px;
    padding-top: 0px;
    font-weight: bold;
    /* text-align: center; */
}.block_five>img {
    padding-left: 40px;
    padding-top: 5px;
    /* text-align: center; */
}
.send {
    width: 1905px;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    border: 0px solid white;
    border-radius: 5px;
}
.send>p {
    padding-left: 20px;
    padding-top: 5px;
}
input {
    /* margin: 10px 0; */
    /* padding: 10px; */
    border: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    position: absolute;
    bottom: 5px;
    left: 60px;
    width: 1700px;
    height: 50px;
}
button {
    /* padding: 10px; */
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    left: 1785px;
    width: 100px;
    height: 50px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    overflow: auto;
}
.modal_content {
    margin: 350px auto;
    background-color: #fff;
    padding: 40px;
    width: 20%;
    z-index: 99999;
}
.close_modal {
    color: #000;
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.pos {
    position: absolute;
    bottom: 1px;
    top: 23px;
}